<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - UTEShop">UTEShop</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main layout:fragment="content">
</main>

<footer class="footer">
    <p>Copyright © UTEShop - Spring Boot 4 + Spring Security 7 + Thymeleaf Dialect</p>
    <p style="font-size: 13px; color: #94a3b8;">Sinh viên: Trương Quốc Duy - MSSV: 24133009</p>
</footer>
</body>
</html>
